{% extends "base.html" %}

{% block content %}

<h1 align='center'> Add a new blog post</h1>

<form method='post'>
    <p class=form>
        <label for='title'>Post Title:</label>
        <input type='text' id='title' name='title' value='{{title}}' />
        {% with messages = get_flashed_messages(category_filter=["titleerror"]) %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </p>

    <p class=form>
        <label for='body'>Blog post:</label>
        <textarea name='body' id='body'>{{body}}</textarea>
        {% with messages = get_flashed_messages(category_filter=["bodyerror"]) %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </p>
    <input type='submit' value='Add Post' />
</form>
{% endblock %}

    {% with messages = get_flashed_messages(with_categories=titleerror) %}
        <span class='{{category}}'>{{message}}</span>
            <li class="{{category}}">{{message}}</li>
        </ul>
    {% endwith %}